html,
body {
    font-family: 'Comfortaa', cursive;
}

md-select {
    font-size: 25px !important;
    font-weight: 900 !important;
    /* color: rgb(224, 34, 34) !important; */
}

md-input-container {
    font-size: 25px !important;
    font-weight: 900 !important;
}

h1 {
    font-size: 40px;
}

.searchInputs {
    margin-top: 5%;
}

.searchInput {
    background-color: #fff;
}

.btnSearch {
    margin-left: 25%;
    width: 200px;
}

md-card {
    border: 3px solid #fff;
    margin: 20px;
    background-color: rgba(28, 30, 37, 0.651);
    color: rgb(255, 255, 255);
}

.fa-heart {
    margin: 5px;
    color: rgb(207, 64, 88);
}

.image-vote-button {
    outline: none;
    margin: 5px;
}

.btnFavoritesText {
    margin: 5px;
}

a {
    margin: 8px;
}

a:hover {
    border-bottom: 3px solid #303030;
}

.dropdown {
    color: #fff;
}

.btnDelete {
    width: 200px;
}

.container {
    color: white;
    background-image: url(../images/vader.jpg);
    height: 100vh;
    padding: 40px;
}

.favContainer {
    color: white;
    background-image: url(../images/falcon.jpg);
    height: 100vh;
    padding: 40px;
}