<div class="searchInputs">
    <div class="row" layout="row" layout-align="center">
        <md-input-container flex="50" class="flex-50">
            <label>Pick a resource:</label>
            <md-select name="type" ng-model="vm.selectedResource" required>
                <md-option ng-repeat="(key, val) in vm.resources.list" value="{{key}}">{{key}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row" layout="row" layout-align="center">
        <md-input-container flex="50" class="flex-50">
            <label>Add a keyword:</label>
            <input type="text" ng-model="vm.search" class="searchInput" required>
        </md-input-container>
    </div>
</div>
<div class="searchButton">
    <md-button class="md-raised md-accent btnSearch" ng-click="vm.btnSearch(vm.search)" name="searchInput" >Submit</md-button>
</div>